.owl-dot span {
  width: 10px;
  height: 10px;
  margin: 5px 7px;
  background: #cfd2cf !important;
  display: block;
  -webkit-backface-visibility: visible;
  -webkit-transition: opacity 200ms ease;
  -moz-transition: opacity 200ms ease;
  -ms-transition: opacity 200ms ease;
  -o-transition: opacity 200ms ease;
  transition: opacity 200ms ease;
  -webkit-border-radius: 30px;
  -moz-border-radius: 30px;
  border-radius: 30px;
}

.owl-dot.active span {
  width: 10px;
  height: 10px;
  margin: 5px 7px;
  background: #141b1f !important;
  display: block;
  -webkit-backface-visibility: visible;
  -webkit-transition: opacity 200ms ease;
  -moz-transition: opacity 200ms ease;
  -ms-transition: opacity 200ms ease;
  -o-transition: opacity 200ms ease;
  transition: opacity 200ms ease;
  -webkit-border-radius: 30px;
  -moz-border-radius: 30px;
  border-radius: 30px;
}

.btn {
  color: #fff;
  cursor: pointer;
  font-size: 16px;
  font-weight: 400;
  line-height: 45px;
  margin: 0 0 2em;
  max-width: 160px;
  position: relative;
  text-decoration: none;
  text-transform: uppercase;
  width: 100%;

  /* //   @media(min-width: 400px) {
  //     display: inline-block;
  //     margin-right: 2.5em;

  //     &:nth-of-type(even) {
  //       margin-right: 0;
  //     }
  //   } */

  @media (min-width: 600px) {
    margin: 0 1em 2em;

  }

  /* &:hover {
    text-decoration: none;
  } */
}

.animate-btn {
  position: relative;
  overflow: hidden;
  background-color: #652d90 !important;
}
.animate-btn::before {
  content: "";
  background: rgba(255, 255, 255, 0.85);
  height: 8rem;
  width: 4rem;
  left: 1rem;
  transform: rotate(14deg);
  position: absolute;
  top: -1rem;
  filter: blur(7px);
  animation-name: btnanimation;
  animation-duration: 1.5s;
  animation-iteration-count: infinite;
}

@keyframes updown {
  from {
    top: -0.6rem;
  }
  to {
    top: 0;
  }
}

@keyframes btnanimation {
  from {
    left: 0;
  }
  to {
    left: 100%;
  }
}
/**************
  * 07.Projects Section Style
  *************/
  .projects-area .project-single-item {
    position: relative;
    overflow: hidden;
  }
  .projects-area .project-single-item img {
    -webkit-filter: none;
    filter: none;
    -webkit-filter: brightness(70%);
    border-radius: 0px;
    -webkit-transition: all 0.5s;
    transition: all 0.5s;
    width: 200px !important;
    height: 190px !important;
  }
  .projects-area .project-single-item:hover img {
    -webkit-filter: none;
    filter: none;
    -webkit-transform: scale(1.09, 1.09);
    transform: scale(1.09, 1.09);
    -webkit-filter: brightness(20%);
    -webkit-transition: all 1s ease;
    -moz-transition: all 1s ease;
    -o-transition: all 1s ease;
    -ms-transition: all 1s ease;
    transition: all 1s ease;
  }
  .projects-area .project-single-item:hover .project-overlay-info {
    bottom: 0;
  }
  .projects-area .project-single-item .project-overlay-info {
    padding: 30px;
    position: absolute;
    bottom: 0px;
    left: 0;
    width: 100%;
    display: block;
    -webkit-transition: all 0.3s;
    transition: all 0.3s;
    text-align: center;
  }
  .projects-area .project-single-item .project-overlay-info .category {
    position: relative;
    color: #ffc518;
    font-size: 16px;
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: 1px;
    margin-bottom: 5px;
  }
  .projects-area .project-single-item .project-overlay-info h5 {
    font-size: 24px;
    color: #fff;
    display: block;
    font-weight: 700;
    margin-bottom: 10px;
    line-height: 1.2;
  }
  .projects-area .project-single-item .project-overlay-info p {
    color: #fff;
    font-size: 15px;
  }
  .projects-area .project-single-item .project-overlay-info i {
    color: #fff;
    font-size: 25px;
  }